# SPDX-License-Identifier: BSD-2-Clause

menu "CPPC Device Support"

config FDT_CPPC
	bool "FDT based CPPC drivers"
	depends on FDT
	default n

if FDT_CPPC

config FDT_CPPC_RPMI
	bool "FDT RPMI CPPC driver"
	depends on FDT_MAILBOX && RPMI_MAILBOX
	default n

config FDT_CPPC_SG2044
	bool "FDT SG2044 CPPC driver"
	select FDT_CLK_SG2044
	default n

endif

endmenu
